@import "./variables.scss";

.features{
    text-align: center;
    padding: 3em 0;
    .wrapper > .u__p{
        max-width: 560px;
        margin: 0 auto;
    }
}

.tabs{
    margin-top: 2em;
    border-top: .8px solid $softGray;
    &__link{
        border-bottom: .8px solid $softGray;
    }
    &__content{
        display: none;
        flex-direction: column;
        img{
            max-width: 100%;
            margin-bottom: 1.5em;
            object-fit: contain;
        }
        &-text{
            .u__p{
                padding-bottom: 1em;
            }
        }
    }
    &__grid{
        margin-top: 4em;
    }
    label{
        padding: 1em 0;
        display: block;
        position: relative;
        &:after{
            display: none;
            content: "";
            height: 5px;
            position: absolute;
            bottom: 0;
            width: 50%;
            left: 0;
            border-radius: 4px;
            transform: translateX(50%);
            box-shadow: inset 0 -15px 0px -10px $softRed;
        }
    }
    input{
        display: none;
    }
    input[id="bookmarking"]:checked{
        & ~ ul [for="bookmarking"]:after{
            display: block;
        }
        & ~ .tabs__grid #tab-bookmarking{
            display: flex;
        }
    }
    input[id="searching"]:checked{
        & ~ ul [for="searching"]:after{
            display: block;
        }
        & ~ .tabs__grid #tab-searching{
            display: flex;
        }
    }
    input[id="sharing"]:checked{
        & ~ ul [for="sharing"]:after{
            display: block;
        }
        & ~ .tabs__grid #tab-sharing{
            display: flex;
        }
    }
}

@media screen and (min-width: 1024px){
    .tabs{
        border-top: none;
        text-align: left;
        ul{
            display: flex;
            justify-content: center;
        }
        label{
            padding: 2em 2em;
            &:after{
                width: 100%;
                transform: translateX(0);
            }
            &:hover{
                color: $softRed;
                cursor: pointer;
            }
        }
        img{
            margin: 0 5em 0 2em;
        }
        &__content{
            flex-direction: row;
            align-items: center;
            padding: 1em 4em;
            &-text{
                padding-right: 4em;
            }
        }
    }
}