@import "./variables.scss";

.footer{
    background: $menuDark;
    text-align: center;
    padding: 3em 0 1em 0;
    a{
        color: $white;
        text-decoration: none;
    }
    &__menu{
        margin-top: 2em;
        a{
            display: block;
            text-transform: uppercase;
            letter-spacing: 2px;
            padding: 1em;
            color: $softGray;
            &:hover{
                color: $softRed;
            }
        }
    }
    &__social{
        margin-top: 2em;
        a{
            width: 40px;
            height: 40px;
            display: inline-block;
            &:hover{
                color: $softRed;
            }
        }
        .facebook{
            background: url(../../static/images/icon-facebook.svg) no-repeat center;
        }
        .twitter{
            background: url(../../static/images/icon-twitter.svg) no-repeat center;
        }
    }
}

.attribution { 
    margin-top: 2em;
    font-size: 11px; 
    text-align: center;
    color: $softGray;
}
.attribution a { 
    color: $softRed; 
}

//Desktop
@media screen and (min-width: 1024px){
    .footer{ 
        padding-top: 1em;
        img{
            margin-right: 2em;
        }
        &__content{
            display: flex;
            justify-content: space-between;
            margin: 0 1em;
        }
        &__social{
            margin-top: 1em;
        }
        &__menu{
            display: flex;
            margin: 0;
        }
        &__main{
            display: flex;
            align-items: center;
            a{
                font-size: 14px;
            }
        }
    }
}