.menu {
  visibility: hidden;
  position: absolute;
  opacity: 0;
  left: 0;
  right: 0;
  top: 100%;
  background: rgba(47, 53, 79, 0.9);
  height: 100vh;
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
  -webkit-transition: .3s transform, .3s opacity;
  transition: .3s transform, .3s opacity;
  will-change: transform;
}

.menu ul {
  padding: 0;
  list-style: none;
}

.menu li {
  border-top: 0.6px solid #9194a1;
}

.menu li:last-child a {
  border: 2px solid #fcfcfc;
  border-radius: 4px;
  margin-top: 1em;
  padding: .6em;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.menu li:last-child a:hover {
  background: #fa5757;
  color: #fcfcfc;
  border: 2px solid #fa5757;
}

.menu a {
  color: #fcfcfc;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  text-align: center;
  padding: 1em;
  letter-spacing: 2px;
}

.menu a:hover {
  color: #fa5757;
}

.menu__checkbox {
  display: none;
}

.menu__checkbox:checked ~ .header {
  background: rgba(47, 53, 79, 0.9);
}

.menu__checkbox:checked ~ .header .menu__open {
  background-image: url("../../static/images/icon-close.svg");
}

.menu__checkbox:checked ~ .header .header__logo {
  background-image: url("../../static/images/logo-bookmark-white.svg");
}

.menu__checkbox:checked ~ .header .menu {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  visibility: visible;
  opacity: 1;
}

.menu__open {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 40px;
  height: 40px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  cursor: pointer;
  background: url("../../static/images/icon-hamburger.svg") no-repeat center;
}

@media screen and (min-width: 1024px) {
  .menu {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    visibility: visible;
    opacity: 1;
    position: initial;
    height: auto;
    background: initial;
  }
  .menu a {
    color: #252b46;
  }
  .menu li {
    border: none;
  }
  .menu li:last-child a {
    border: 2.5px solid transparent;
    border-radius: .4em;
    margin-top: 0;
    padding: .8em 3em;
    background: #fa5757;
    color: #fcfcfc;
    margin-left: 2em;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  .menu li:last-child a:hover {
    background: #fcfcfc;
    color: #5368df;
    border: 2.5px solid #5368df;
  }
  .menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .menu__open {
    display: none;
  }
}

.header {
  background: #fcfcfc;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  padding: 1em 0;
  z-index: 99;
  -webkit-transition: .3s background;
  transition: .3s background;
}

.header__logo {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 150px;
  height: 40px;
  background: url(../../static/images/logo-bookmark.svg) no-repeat center;
  background-size: contain;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=header.css.map */