@import "./variables.scss";

.join{
    background: $softBlue;
    color: $white;
    padding: 5em 0 4em;
    text-align: center;
    small{
        font-size: .7em;
        text-transform: uppercase;
        letter-spacing: 5px;
        color: $softGray;
    }
}

.form{
    max-width: 450px;
    margin: auto;
    .u__button{
        margin: 0;
    }
    &__input{
        width: 100%;
        padding: 1.2em;
        box-sizing: border-box;
        margin-bottom: 1em;
        border-radius: .3em;
        border: none;
        font-size: .8em;
        outline: 0;
        &::-webkit-input-placeholder{
            color: $softGray;
        }
    }
}

//Desktop
@media screen and (min-width: 1024px){
    .form{
        display: flex;
        &__input{
            flex-shrink: 0;
            width: 70%;
            margin-right: 1em;
            margin-bottom: 0;
        }
    }
    .join{
        .u__h4{
            font-size: 1.7em;
            max-width: 450px;
            margin: 1em auto;
        }
    }
}