@import "./variables.scss";

.menu{
    //display: none;
    visibility: hidden;
    position: absolute;
    opacity: 0;
    left: 0;
    right: 0;
    top: 100%;
    background: $menuDark;
    height: 100vh;
    transform: translateY(-50px);
    transition: .3s transform, .3s opacity;
    will-change: transform;
    ul{
        padding: 0;
        list-style: none;
    }
    li{
        border-top: .6px solid $grayishBlue;
        &:last-child{
            a{
                border: 2px solid $white;
                border-radius: 4px;
                margin-top: 1em;
                padding: .6em;
                transition: all 0.2s ease-in-out;
                &:hover{
                    background: $softRed;
                    color: $white;
                    border: 2px solid $softRed;
                }
            }
        }
    }
    a{
        color: $white;
        text-decoration: none;
        text-transform: uppercase;
        display: block;
        text-align: center;
        padding: 1em;
        letter-spacing: 2px;
        &:hover{
            color: $softRed;
        }
    }
}

.menu__checkbox{
    display: none;
    &:checked{
        & ~ .header{
            background: $menuDark;
            .menu__open{
                background-image: url('../../static/images/icon-close.svg');
            }
            & .header__logo{
                background-image: url('../../static/images/logo-bookmark-white.svg');
            }
            & .menu{
                //display: block;
                transform: translateY(0);
                visibility: visible;
                opacity: 1;
            }
        }
    }
}

.menu__open{
    user-select: none;
    width: 40px;
    height: 40px;
    display: inline-flex;
    cursor: pointer;
    background: url('../../static/images/icon-hamburger.svg') no-repeat center;
}

@media screen and (min-width: 1024px) {
    .menu{
        transform: translateY(0);
        visibility: visible;
        opacity: 1;
        position: initial;
        height: auto;
        background: initial;
        a{
            color: $veryDarkBlue;
        }
        li{
            border: none;
            &:last-child{
                a{
                    border: 2.5px solid transparent;
                    border-radius: .4em;
                    margin-top: 0;
                    padding: .8em 3em;
                    background: $softRed;
                    color: $white;
                    margin-left: 2em;
                    transition: all 0.2s ease-in-out;
                    &:hover{
                        background: $white;
                        color: $softRed;
                        border: 2.5px solid $softRed;
                    }
                }
            }
        }
        ul{
            display: flex;
        }
        &__open{
            display: none;
        }
    }
    

}