@import "./variables.scss";
@import "./hero.scss";
@import "./header.scss";
@import "./menu.scss";

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body {
    background: $white;
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    color: $veryDarkBlue;
    margin: 0;
}

.wrapper{
    max-width: 1280px;
    margin: auto;
    padding: 0 1em;
}

.u__h1{
    font-size: 2em;
    font-weight: 500;
}
.u__p{
    color: $grayishBlue;
    line-height: 1.8;
}
.u__button{
    background: $softBlue;
    color: $white;
    padding: 1em 1em;
    font-size: .8em;
    border-radius: .5em;
    font-weight: 500;
    font-family: 'Rubik', sans-serif;
    border: none;
    margin-left: .5em;
    box-shadow: 0 5px 10px -5px $shadowBtn;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    &:first-of-type{
        margin: 0;
    }
    &:hover{
        box-shadow: 0 5px 15px -5px $shadowBtn;
    }
    &.is__gray{
        color: $menuDark;
        background: $buttonGray;
    }
}