.hero {
  text-align: center;
  padding: 4em 0;
}

.hero__image {
  max-width: 100%;
}

.hero__buttons {
  padding-top: 1em;
}

.menu {
  visibility: hidden;
  position: absolute;
  opacity: 0;
  left: 0;
  right: 0;
  top: 100%;
  background: rgba(47, 53, 79, 0.9);
  height: 100vh;
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
  -webkit-transition: .3s transform, .3s opacity;
  transition: .3s transform, .3s opacity;
  will-change: transform;
}

.menu ul {
  padding: 0;
  list-style: none;
}

.menu li {
  border-top: 0.6px solid #9194a1;
}

.menu li:last-child a {
  border: 2px solid #fcfcfc;
  border-radius: 4px;
  margin-top: 1em;
  padding: .6em;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.menu li:last-child a:hover {
  background: #fcfcfc;
  color: rgba(47, 53, 79, 0.9);
}

.menu a {
  color: #fcfcfc;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  text-align: center;
  padding: 1em;
  letter-spacing: 2px;
}

.menu a:hover {
  font-weight: 500;
}

.menu__checkbox {
  display: none;
}

.menu__checkbox:checked ~ .header {
  background: rgba(47, 53, 79, 0.9);
}

.menu__checkbox:checked ~ .header .menu__open {
  background-image: url("../../static/images/icon-close.svg");
}

.menu__checkbox:checked ~ .header .header__logo {
  background-image: url("../../static/images/logo-bookmark-white.svg");
}

.menu__checkbox:checked ~ .header .menu {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  visibility: visible;
  opacity: 1;
}

.menu__open {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 40px;
  height: 40px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  cursor: pointer;
  background: url("../../static/images/icon-hamburger.svg") no-repeat center;
}

.header {
  background: #fcfcfc;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  padding: 1em 0;
  -webkit-transition: .3s background;
  transition: .3s background;
}

.header__logo {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 150px;
  height: 40px;
  background: url(../../static/images/logo-bookmark.svg) no-repeat center;
  background-size: contain;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu {
  visibility: hidden;
  position: absolute;
  opacity: 0;
  left: 0;
  right: 0;
  top: 100%;
  background: rgba(47, 53, 79, 0.9);
  height: 100vh;
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
  -webkit-transition: .3s transform, .3s opacity;
  transition: .3s transform, .3s opacity;
  will-change: transform;
}

.menu ul {
  padding: 0;
  list-style: none;
}

.menu li {
  border-top: 0.6px solid #9194a1;
}

.menu li:last-child a {
  border: 2px solid #fcfcfc;
  border-radius: 4px;
  margin-top: 1em;
  padding: .6em;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.menu li:last-child a:hover {
  background: #fcfcfc;
  color: rgba(47, 53, 79, 0.9);
}

.menu a {
  color: #fcfcfc;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  text-align: center;
  padding: 1em;
  letter-spacing: 2px;
}

.menu a:hover {
  font-weight: 500;
}

.menu__checkbox {
  display: none;
}

.menu__checkbox:checked ~ .header {
  background: rgba(47, 53, 79, 0.9);
}

.menu__checkbox:checked ~ .header .menu__open {
  background-image: url("../../static/images/icon-close.svg");
}

.menu__checkbox:checked ~ .header .header__logo {
  background-image: url("../../static/images/logo-bookmark-white.svg");
}

.menu__checkbox:checked ~ .header .menu {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  visibility: visible;
  opacity: 1;
}

.menu__open {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 40px;
  height: 40px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  cursor: pointer;
  background: url("../../static/images/icon-hamburger.svg") no-repeat center;
}

.features {
  text-align: center;
}

.tabs {
  border: 1px solid red;
}

.tabs__link {
  padding: 1em 0;
  border-bottom: 0.8px solid #9194a1;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

body {
  background: #fcfcfc;
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
  color: #252b46;
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

.wrapper {
  max-width: 1280px;
  margin: auto;
  padding: 0 1em;
}

.u__h1, .u__h2 {
  font-size: 2em;
  font-weight: 500;
}

.u__h2 {
  font-size: 1.8em;
}

.u__p {
  color: #9194a1;
  line-height: 1.8;
  font-size: .9em;
}

.u__button {
  background: #5368df;
  color: #fcfcfc;
  padding: 1em 1em;
  font-size: .8em;
  border-radius: .4em;
  font-weight: 500;
  font-family: 'Rubik', sans-serif;
  border: none;
  margin-left: .5em;
  -webkit-box-shadow: 0 5px 10px -5px #8693da;
          box-shadow: 0 5px 10px -5px #8693da;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.u__button:first-of-type {
  margin: 0;
}

.u__button:hover {
  border: 2.5px solid #5368df;
  background: #fcfcfc;
  color: #5368df;
}

.u__button.is__gray {
  color: rgba(47, 53, 79, 0.9);
  background: #f7f7f7;
}

.u__button.is__gray:hover {
  border: 2.5px solid rgba(47, 53, 79, 0.9);
  background: #fcfcfc;
  color: rgba(47, 53, 79, 0.9);
}
/*# sourceMappingURL=style.css.map */