// ## Colors

// ### Primary

$softBlue: hsl(231, 69%, 60%);
$softRed: hsl(0, 94%, 66%);
$hoverRed: hsl(0, 67%, 56%);
$shadowBtn: hsl(231, 53%, 69%);

// ### Neutral

$grayishBlue: hsl(229, 8%, 60%);
$veryDarkBlue: hsl(229, 31%, 21%);
$white: #fcfcfc;
$menuDark: rgba(47, 53, 79, .9);
$buttonGray: #f7f7f7;
$softGray: hsl(220, 9%, 86%);